<div class="container m-4 p-3">
  <h3 class="bg-info text-white">{{title}}</h3>
    <div>
      <input
        type="text"
        class="form-control m-3"
        placeholder="Search your recent transactions"
      />
    </div>

    <app-add-transactions></app-add-transactions>
  <table class="m-3 table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
    </tbody>
  </table>
</div>
