<div class="container m-4 p-3">
  <h3 class="bg-info text-white">{{title}}</h3>
    <form>
      <input
        type="text"
        class="form-control m-3"
        [ngModel]="searchText" (ngModelChange)="searchKey($event)" [ngModelOptions]="{standalone: true}"
        placeholder="Search your recent transactions"
      />
    </form>

    <app-add-transactions></app-add-transactions>
  <table class="m-3 table table-striped table-bordered table-hover" >
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody *ngFor="let transaction of transactions">
      <tr>
        <th>{{transaction.date| date:'medium'}}</th>
        <td>{{transaction.description}}</td>
        <td>{{transaction.category}}</td>
        <td>{{transaction.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>
